<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewUser</title>
</head>
<body>
    <!-- <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
        </tr>   
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.role}"></td>
        </tr>
    </table> -->
    <form th:object="${user}" th:action="@{/new}" method="post">
        <label for="username">Username:</label>
        <input th:field="*{username}" type="text" id="username">
    
        <label for="email">Email:</label>
        <input th:field="*{email}" type="email" id="email">
    
        <label for="password">Password:</label>
        <input th:field="*{password}" type="password" id="password">
    
        <label for="role">Role:</label>
        <select th:field="*{role}" id="role">
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select>
        <button type="submit">Save</button>
    </form>
</body>
</html>